### Miscellaneous ###
.DS_Store

### IDEA artifacts and output dirs ###
.idea

### VS Code ###
.vscode/

### Maven ###
/target
**/target

**/*.iml

### Credentials ###
**/.env

### Build ###
**/*.jar

### Terraform ###
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
aws_infrastructure_variables.tfvars
.terraform.lock.hcl
